.searchbar {
  padding: 10px;
  width: 100%;
  font-size: 20px;
  outline: none;
  font-family: 'Raleway';
}
.searchbar :focus {
  border: 3px solid #555;
}

.searchWrapper {
  padding-top:30px;
  margin: 75px;

}
body{
    background-color:#2A363B;
}

.searchResultPic {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.resultImageWrapper {
  width: 200;
  height: 300;
  background-color: black;
}
.searchResultsPaper {
  margin: auto;
  max-width: 500;
}
.searchResultButton {
  background-color: '#2A363B';
  color: '#FECEAB';
}
.movieImgWrapper{
  height: '100px'
}
