.searchbar{
    padding-top: 10px;
    width:100%;
    font-size: 20px;
    outline: none;
}
.searchbar :focus{
    border: 3px solid #555;
}

.searchWrapper{
    padding:50px;
}

.searchResultPic{
    width:100px;
    heihgt:100px;
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.resultImageWrapper{
    width: 200;
    height: 300;
    background-color: black;
}
.searchResultsPaper{
    margin: auto;
    max-width: 500;
}
.searchResultButton{
    background-color: '#2A363B'; 
    color: '#FECEAB';
}